:root
{
	font-size: max(12px, 0.95vw, 1.0vh);
}

body {
	color: white;
	font-family: monospace;
}


h3 {
    font-size: 1.3rem;
}

header#yläpalkki
{
	display: flex;
	justify-content: center;
}

header#yläpalkki a
{
	font-size: 1rem;
	padding: 0.3rem;
	margin: 1rem 2rem 0 2rem;
}


div#pääsisältö
{
	font-size: 1rem;
	margin-top: 3rem;
	width: 55vw;
	margin: auto;
	background: #e6dddd7a;
	min-height: 15rem;
	border: 1px solid rgb(0, 0, 0, 0.15);
	padding: 0.5rem;
	color: rgb(0,0,0, 0.8);
	border-radius: 0.3rem;
}

.keskitetty
{
	text-align: center;
}


ul#linkkilista
{
    margin-left: 1rem;
}

#kuvagalleria
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#kuvagalleria > a > img
{
    max-width: 50vw;
    width: 20rem;
    height: 14rem;
    object-fit: contain;
}
